@import "tailwindcss";

 
/* banner slider arrow custaimezation  start*/
 

/* Pagination bullets */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}



/* banner slider arrow custaimezation  end*/
